<dialog>
  <form class="delete" action="" method="post">
    <input
      id="password"
      name="password"
      type="password"
      placeholder="Password"
    />
    <button type="submit" class="danger">Delete</button>
  </form>
</dialog>
