<nav>
  <a class="nav-header" href="/">Booker Shelfer</a>
  <ul>
    <li>
      <div class="dropdown">
        <span>New</span>
        <div class="dropdown-content">
          <a href="/books/add">Book</a>
          <a href="/authors/add">Author</a>
          <a href="/genres/add">Genre</a>
        </div>
      </div>
    </li>

    <li><a href="/books">Books</a></li>
    <li><a href="/authors">Authors</a></li>
    <li><a href="/genres">Genres</a></li>
  </ul>
</nav>
