<nav>
  <a class="nav-header" href="/">Booker Shelfer</a>
  <input
    class="nav-hamburger"
    type="image"
    src="/svg/hamburger-menu.svg"
    alt=""
  />
  <ul class="nav-menu">
    <li>
      <div class="dropdown">
        <span class="dropdown-title">New ↓</span>
        <div class="dropdown-content">
          <a href="/books/add">Book</a>
          <a href="/authors/add">Author</a>
          <a href="/genres/add">Genre</a>
        </div>
      </div>
    </li>

    <li>
      <div class="dropdown">
        <span class="dropdown-title">View ↓</span>
        <div class="dropdown-content">
          <a href="/books">Books</a>
          <a href="/authors">Authors</a>
          <a href="/genres">Genres</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
