@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* @link https://utopia.fyi/space/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=,1.5|2|3,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  --step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  --step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  --step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  --step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  --step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  --step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

  --neutral-100: #ffffff;
  --neutral-300: #cccccc;
  --neutral-500: #808080;
  --neutral-700: #4c4c4c;
  --neutral-800: #333333;
  --neutral-900: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter";
}

/* Navbar related */

nav {
  display: flex;
  position: sticky;
  top: 0;
  align-items: baseline;
  padding-inline: var(--space-m);
  background-color: var(--neutral-700);
  color: var(--neutral-100);
  margin-bottom: var(--space-l);
}
nav .nav-header {
  font-weight: 900;
  font-size: var(--step-2);
}
nav .nav-hamburger {
  display: none;
  width: unset;
  margin-left: auto;
  margin-top: var(--space-3xs);
}
nav .nav-menu {
  display: flex;
  list-style: none;
  gap: var(--space-2xs);
  margin-left: auto;
  margin-right: var(--space-2xs);
}

nav a {
  font-weight: 400;
  font-size: var(--step--2);
  padding: var(--space-3xs);
  color: var(--neutral-100);
  text-decoration: none;
}
nav a:hover,
nav a:active {
  font-weight: 900;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: var(--space-xs);
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: var(--neutral-700);
  color: var(--neutral-800);
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: max-height 0.5s ease-in, visibility 0s, opacity 0.5s linear;
  border-radius: 0.5rem;
  min-width: 20rem;
}
.dropdown-title {
  transition: font-weight 150ms ease-in-out;
}
.dropdown.visible .dropdown-content {
  flex-direction: column;
  visibility: visible;
  padding: var(--space-3xs);
  opacity: 1;
  height: auto;
}
.dropdown.visible .dropdown-title {
  font-weight: 900;
}

@media screen and (max-width: 590px) {
  nav .nav-hamburger {
    display: block;
  }

  nav .nav-menu {
    width: 10rem;
    display: block;
    position: fixed;
    box-shadow: 10px 8px 16px 0px rgba(0, 0, 0, 0.5);
    padding: var(--space-3xs);
    top: var(--space-xl);
    right: -70%;
    flex-direction: column;
    background-color: var(--neutral-500);
    border-radius: 0.5rem;
    text-align: left;
    transition: right 0.3s ease-in;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  nav .nav-menu.visible {
    right: -10%;
  }

  nav .nav-menu li {
    padding: var(--space-3xs);
    border-bottom: solid 1px var(--neutral-700);
    border-top: solid 1px var(--neutral-700);
    border-left: solid 1px var(--neutral-700);
    border-radius: 0.5rem;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15);
  }

  .dropdown-content {
    position: unset;
  }
}

main {
  max-width: 1240px;
  margin-inline: auto;
  padding-inline: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: var(--step-2);
  margin-top: var(--space-xs);
  margin-bottom: var(--space-3xs);
}

ul.cards {
  display: grid;
  gap: 1rem;
  list-style: none;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.card {
  padding: var(--space-xs);
  background-color: var(--neutral-300);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

.card h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.card p {
  font-weight: 300;
}

p.book-info {
  font-weight: 200;
}

.author-dates {
  display: flex;
  align-items: end;
  gap: var(--space-3xs);
}

.actions-box {
  display: flex;
  margin-top: var(--space-s);
  gap: var(--space-2xs);
  align-items: center;
}

form.delete {
  display: block;
  margin-inline: unset;
  margin-block: unset;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 60rem;
  gap: var(--space-2xs);
  margin-inline: auto;
  margin-block: var(--space-2xs);
}

form h1 {
  margin-bottom: var(--space-s);
}

input {
  width: 100%;
  height: 2rem;
  padding: var(--space-3xs);
}

label.required::before {
  content: "* ";
  color: blue;
}

.button,
button[type="submit"] {
  display: inline-block;
  padding: var(--space-2xs);
  background-color: var(--neutral-700);
  color: var(--neutral-100);
  border: none;
  border-radius: var(--space-2xs);
  font-weight: 900;
  text-decoration: none;
  font-size: small;
  transition: transform 450ms ease;
}

.button:hover,
button:hover,
.button:active,
button:active {
  transform: scale(1.08);
}

button.danger {
  background-color: red;
}

.form-row {
  display: flex;
  gap: var(--space-2xs);
  flex: 1 0 0;
}

.form-row * {
  flex-grow: 1;
}

input,
select {
  display: block;
  width: 100%;
  border-radius: var(--space-2xs);
  border: none;
  background-color: var(--neutral-300);
  padding: var(--space-3xs);
}

textarea {
  display: block;
  width: 100%;
  background-color: var(--neutral-300);
  border: none;
}

select {
  padding: var(--space-3xs);
}

.textarea-wrapper {
  border-radius: var(--space-2xs);
  border: none;
  background-color: var(--neutral-300);
  padding: var(--space-3xs);
}
