<section>
  <h1>Authors</h1>
  <% if (authors.length) { %>

  <ul class="cards">
    <% authors.forEach(author => { %>
    <li><%- include("../authorCard", {author: author}) %></li>
    <%}); %>
  </ul>

  <% } else { %>
    <p>No authors found</p>
  <% }%>
</section>
