<section>
  <h1>Books</h1>
  <% if (locals.books.length) { %>
  <ul class="cards">
    <% books.forEach(function(book) {%>
    <li><%- include("../bookCard", {book: book}) %></li>
    <% }) %>

  </ul>
  <% } else { %>
  <p>No books found</p>
  <% } %>

</section>
