<section>
  <h1>Books</h1>
  <ul>
    <% if (books.length) { %>
    <% books.forEach(function(book) {%>
    <li><%- include("../bookCard", {book: book}) %></li>
    <%}); %>
    <% } else {%> 
      <p>No books found</p>
    <% } %>
  </ul>
</section>
