<section>
  <h1>Genres</h1>
  <% if (locals.genres.length) { %>
  <ul class="cards">
    <% genres.forEach(genre => { %>
    <li><%- include("../genreCard", {genre: genre}) %></li>
    <% }); %>
  </ul>
  <% } else{ %>
  <p>No genres found</p>
  <% } %>
</section>
