<!DOCTYPE html>

<html lang="en">
  <%- include("../partials/head") %>

  <body>
    <main>
      <h1><%= title %></h1>

      <%- include("../partials/sections/authors") %>

      <a href="/">Home</a>
    </main>
  </body>
</html>
