<!DOCTYPE html>

<html lang="en">
  <%- include("../partials/head") %>
  <body>
    <main>
      <h1><%= title %></h1>

      <section><%- include("../partials/authorCard") %></section>

      <%- include("../partials/sections/books", {books: books}) %>

      <a href="/">Home</a>
    </main>
  </body>
</html>
